html{
    background: rgb(2,48,32);
    background: linear-gradient(90deg, rgba(2,48,32,1) 0%, rgba(7,93,63,1) 35%, rgba(181,181,181,1) 100%);;
}

header {
    background-color: #A39696;
    border-radius: 5px;
}

.flex-header {
    text-align: right;

}

.header-topline li {
    display: inline;
    list-style: none;
    white-space: nowrap;
    padding: 6px;
}

a:link {
    color: #300212;
    background-color: transparent;
    text-decoration: none;
    font-family: sans-serif;
}

a:visited {
    color: #300212;
    background-color: transparent;
    text-decoration: underline;
}

hr {
    height: 2px;
    color: black;
    background-color: black;
}

.sitehead1 {
    margin-bottom: 1px;
}

.sitehead1 h1 {
    margin-bottom: 1px;
}



.picture-1 {
    width: 352px;

}

.picture-2 {
    height:352px;

}



.about-me {
    display: flex;
    border-style: solid;
    border-color:  #96A3A3;
    background-color: white;
    width: 30%;
    height: 352px;
}

.text-me {
    display: flex;
    align-items: center;
}



.about-me-flex {
    display: flex;
    justify-content: space-evenly;
    position: absolute;

}




